@model IEnumerable<CMS.ViewModels.NotifyShipmentVM>

@{
    ViewBag.Title = "Index";
}

<h2>Arrival Port</h2>

<style>
    table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    tr td {
        width: 15%;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        background-color: #4CAF50;
        color: white;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
    }
</style>

<table>
    <tr>
        <th>
            @Html.DisplayName("Shipping ID")
        </th>
        <th>
            @Html.DisplayName("Date Depart")
        </th>
        <th>
            @Html.DisplayName("Item Category")
        </th>
        <th>
            @Html.DisplayName("Weight")
        </th>
        <th>
            @Html.DisplayName("Location From")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Update Status")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.shippingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDepart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locationFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Arrived", "UpdateArrival", new { id=item.shippingID }) 
        </td>
    </tr>
}

</table>
